:root {
  --bg-color: #c8ccd5;
  --text-color: #20538a;
  --link-color: #c08164;
  --link-hover-color: #887263;
  --radius-default: 0.5rem;
  --radius-max: 99rem;
  --radius-circle: 50%;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  scrollbar-color: var(--text-color) transparent;
}

body {
  font-size: 0.9em;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
  line-break: strict;
  overflow-wrap: break-word;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-top: 10px solid var(--text-color);
}

button {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

a:hover {
  color: var(--link-hover-color);
}

img,
svg {
  max-width: 100%;
  vertical-align:top; // line-heightによる余白削る用
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

address {
  display: inline;
  font-style: normal;
}

nav {
  list-style: none;
}

h2 {
  font-size: 1.3rem;
}