// ----------------------------------------base

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
    --bg-color: #c8ccd5;
    --text-color: #20538a;
    --link-color: #c08164;
    --link-hover-color: #887263;
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: var(--text-color) transparent;
}

body {
    font-size: 0.9em;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8em;
    letter-spacing: 0.08em;
    line-break: strict;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    // border-top: 10px solid var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

a:hover {
    color: var(--link-hover-color);
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

address {
    display: inline;
    font-style: normal;
}

// ----------------------------------------layout

.page-index {
    max-width: 800px;
    padding: 3rem;
    margin: auto;
    text-align: center;
}