html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #0b0e25 url(../image/background.png) repeat-x top;
    background-size: 622px;
    font-size: 0.95em;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8em;
    letter-spacing: 0.08em;
    line-break: strict;
    color: #fff0b4;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #78b2ff;
}

a:hover {
    color: #e2efff;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 25px;
    margin: 0;
}

address {
    font-style: normal;
}

.header {
    margin: 7rem 0 3rem;
    text-align: center;
}

.navigation {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.logo {
    margin: 0;
}

.main-image {
    margin: 8rem 0 5rem;
}

.about {
    padding: 0 3rem;
    color: #ffd758;
}

.trailer {
    text-align: center;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section_wrapper {
    padding: 2.5rem 0;
    background-color: #1a1b3c;
}

.section_wrapper:nth-child(odd) {
    background-color: #0c0c22;
}

.section {
    /* margin: 0 0 4rem; */
    max-width: 1000px;
    padding: 0 2rem;
    margin: 0 auto;
}

.section h2 {
    display: inline-block;
    font-family: 'Palanquin Dark';
    font-size: 2em;
    margin: 0 0 2.2rem;
    padding: 0.7rem 1.2rem 0.8rem;
    border-radius: 2rem;
    background-color: #3c310b;
}

.section.notice h2 {
    background-color: #987815;
}

.section.updates article {
    margin-bottom: 0.3rem;
}

.section.updates article h3,
.section.updates article p {
    display: inline;
    font-size: 1em;
}

.footer {
    margin: 3rem 0 1rem;
    text-align: center;
    font-size: 0.8em;
}

.screenshots {
    list-style: none;
    line-height: 0;
    padding: 0;
    margin: 0 0 -1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots li {
    width: 32%;
    margin-bottom: 1rem;
}

.screenshots li img {
    width: 100%;
}

@media (max-width: 800px) {
    .about {
        padding: 0 3rem;
        text-align: left;
    }
}

@media (max-width: 576px) {
    .logo {
        padding: 0 3rem;
    }
    .section {
        padding: 0 1.5rem;
    }
    .screenshots li {
        width: 48%;
    }
}
