@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Noto+Sans+JP:wght@400;700&family=Palanquin+Dark&display=swap");
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-color: #202c5b #0e102f;
}

body {
  background: #111a3e url(../image/background.png) repeat-x top;
  background-size: 1860px;
  background-attachment: fixed;
  font-size: 0.95em;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2em;
  letter-spacing: 0.08em;
  line-break: strict;
  color: #8caeff;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #8caeff;
  font-weight: bold;
}

a:hover {
  color: #FFB860;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 1rem;
  margin: 0;
}

address {
  display: inline;
  font-style: normal;
}

small {
  line-height: 1;
}

.header {
  text-align: center;
  background: url(../image/item.png) no-repeat top;
  background-size: 928.5px;
}
.header.header_simple {
  background: none;
  color: #FFB860;
  margin: 5rem auto;
}
.header.header_simple .logo {
  margin: 0 auto;
  width: 400px;
  max-width: 75%;
}

.navigation {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  margin: 0 -0.5rem;
}
.navigation > div {
  margin: 0 0.5rem;
}
.navigation .localization {
  margin: -0.2rem 0.5rem 0;
}
.navigation .circle-logo {
  width: 110px;
}

.logo {
  margin: 2rem auto 6rem;
  width: 450px;
}

.main-image {
  margin-top: -4rem;
  width: 350px;
}

.about {
  padding: 0 3rem;
}

.about .copy {
  font-size: 1.1em;
  font-family: "Kiwi Maru", serif;
  margin: 0 0 4.5rem;
}

ul.store-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  gap: 1rem;
}
ul.store-links li > a {
  display: inline-block;
  background-color: #8caeff;
  color: #202c5b;
  padding: 0.6rem 1.6rem;
  border-radius: 99rem;
}
ul.store-links li > a:hover {
  background-color: #7898e4;
}
ul.store-links li > a.switch {
  background-color: #e22c2c;
  color: white;
}
ul.store-links li > a.switch:hover {
  background-color: #cf2424;
}
ul.store-links li > a.steam {
  background-color: #225f85;
  color: white;
}
ul.store-links li > a.steam:hover {
  background-color: #1a4f70;
}

.store-switch {
  margin: 2rem 0;
}
.store-switch .package-info .package-info-detail {
  margin: 2rem 0;
}
.store-switch .package-info .list-inline {
  font-size: 0.9rem;
}
.store-switch .package-image {
  display: block;
  width: 600px;
  margin: 0 auto 1.4rem;
}

.section_wrapper {
  padding: 3rem 0;
  background: transparent;
}
.section_wrapper:nth-child(even) {
  background-color: #0e102f;
  position: relative;
}
.section_wrapper:nth-child(even)::before {
  content: " ";
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: url(../image/section_line.png) repeat-x;
  background-size: 20px;
}
.section_wrapper:nth-child(even)::after {
  content: " ";
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: url(../image/section_line.png) repeat-x;
  background-size: 20px;
  transform: rotateZ(180deg);
}

.section {
  max-width: 900px;
  padding: 0 2rem;
  margin: 0 auto;
  text-align: center;
}
.section h2 {
  position: relative;
  display: inline-block;
  font-family: "Palanquin Dark";
  font-size: 2em;
  margin: 0 0 2.6rem;
  padding: 1rem 1.7rem 1.2rem;
  border-radius: 2rem;
  color: #FFB860;
  background-color: #202c5b;
  letter-spacing: 0.11em;
}
.section h2::before {
  content: "▼";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  color: #202c5b;
  font-size: 20px;
}
.section h3 {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 0 1.4rem;
  font-family: "Palanquin Dark";
  padding: 0.8rem 1.5rem 1rem;
  border-radius: 2rem;
  background-color: #202c5b;
  letter-spacing: 0.11em;
}
.section.section_screenshots ul {
  list-style: none;
  line-height: 0;
  padding: 0;
  margin: 0 0 -1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section.section_screenshots ul li {
  width: 32%;
  margin-bottom: 1rem;
}
.section.section_screenshots ul li img {
  width: 100%;
}
.section.section_screenshots ul li img:hover {
  filter: brightness(1.3);
  transition: 0.3s;
}
.section.section_store .ost {
  padding: 2.5rem 0 0;
}
.section.section_store .ost img {
  width: 340px;
}
.section.section_credits .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section.section_credits .content ul {
  margin: 0 auto;
  word-wrap: break-word;
  max-width: 100%;
  list-style: none;
  padding-left: 0;
}
.section.section_support .content {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.8em;
}
.section.section_support h3 {
  display: inline-block;
  margin: 0;
  margin-left: 0.2rem;
  font-size: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 99rem;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}
.section.section_support h4 {
  font-size: 1.1rem;
}
.section.section_support details {
  margin-bottom: 1rem;
}
.section.section_support details > div {
  margin: 1.8rem 0;
}
.section.section_support small {
  color: #39518a;
}
.section.section_support details.heading {
  margin-bottom: 1.8rem;
}
.section.section_support details.heading > summary {
  background-color: #202c5b;
  border-radius: 99rem;
  padding: 0.5rem 1.2rem;
}
.section.section_support details.heading > summary::marker {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.section.section_support .info-text {
  background-color: #202c5b;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0;
}

ul.list-inline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
ul.list-inline li::before {
  content: "/";
  padding: 0 0.5rem;
}
ul.list-inline li:first-child::before {
  content: none;
}

.store-embed {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yokaze-logo {
  display: inline-block;
  width: 250px;
}

.footer {
  margin: 4rem 0 1rem;
  text-align: center;
  font-size: 0.8em;
}

.br-show-sp {
  display: none;
}

@media (max-width: 800px) {
  .about {
    padding: 0 2rem;
  }
  .br-hide-mp {
    display: none;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 0.85em;
    background-size: 930px;
  }
  .header {
    background-size: 500px;
  }
  .main-image {
    width: 70%;
    margin-top: -3rem;
  }
  .logo {
    margin: 2rem auto 4rem;
    width: 70%;
  }
  .about {
    padding: 0 2rem;
  }
  .about .copy {
    margin: 0 0 4rem;
  }
  .section {
    padding: 0 1.5rem;
  }
  .section h2 {
    font-size: 1.7em;
    padding: 0.8rem 1.5rem 0.9rem;
  }
  .section.section_trailer {
    padding-right: 0;
    padding-left: 0;
  }
  .br-show-sp {
    display: initial;
  }
}
body.page-package-switch .section h3 {
  font-size: 1.3rem;
  font-family: "Noto Sans JP", sans-serif;
}
body.page-package-switch .section.section_title .text {
  text-align: left;
  display: inline-block;
}
body.page-package-switch .section.section_store .link {
  padding: 0;
}
body.page-package-switch .section.section_store .link a {
  font-size: 1.1rem;
  display: inline-block;
  background-color: #8caeff;
  color: #202c5b;
  padding: 0.6rem 1.6rem;
  border-radius: 99rem;
  margin: 1rem 0;
}
body.page-package-switch .section.section_store .link a:hover {
  background-color: #7898e4;
}
body.page-package-switch .section.section_store .link ul {
  margin: 0 auto;
  word-wrap: break-word;
  max-width: 100%;
  list-style: none;
  padding-left: 0;
}/*# sourceMappingURL=main.css.map */