@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Noto+Sans+JP:wght@400;700&family=Palanquin+Dark&display=swap');

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #111a3e url(../image/background.png) repeat-x top;
    background-size: 1860px;
    background-attachment: fixed;
    font-size: 0.95em;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 2em;
    letter-spacing: 0.08em;
    line-break: strict;
    color: #ffd758;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #8caeff;
    font-weight: bold;
}

a:hover {
    color: #e2efff;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 25px;
    margin: 0;
}

address {
    display: inline;
    font-style: normal;
}

.header {
    margin: 0 0 5rem;
    text-align: center;
    background: url(../image/item.png) no-repeat top;
    background-size: 928.5px;
}

.navigation {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    margin: 0 -0.5rem;

    & > div {
        margin: 0 0.5rem;
    }

    .localization {
        margin: -0.2rem 0.5rem 0;
    }

    .circle-logo {
        width: 110px;
    }
}


.logo {
    margin: 3rem auto 7rem;
    width: 450px;
}

.main-image {
    margin-top: -3rem;
    width: 350px;
}

.about {
    padding: 0 3rem;
}

.about .copy {
    font-size: 1.1em;
    font-family: 'Kiwi Maru', serif;
    margin: 0 0 4.5rem;
}

.section_wrapper {
    padding: 4.5rem 0;
    background: transparent;

    &:nth-child(even) {
        padding: 4rem 0;
        background-color: #0e102f;
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            top: -20px;
            height: 20px;
            width: 100%;
            background: url(../image/section_line.png) repeat-x;
            background-size: 20px;
        }

        &::after {
            content: " ";
            position: absolute;
            bottom: -20px;
            height: 20px;
            width: 100%;
            background: url(../image/section_line.png) repeat-x;
            background-size: 20px;
            transform: rotateZ(180deg);
        }
    }
}

.section {
    max-width: 1000px;
    padding: 0 2rem;
    margin: 0 auto;
    text-align: center;

    h2 {
        position: relative;
        display: inline-block;
        font-family: 'Palanquin Dark';
        font-size: 2em;
        margin: 0 0 3rem;
        padding: 1rem 1.7rem 1.2rem;
        border-radius: 2rem;
        background-color: #5f4c18;
        letter-spacing: 0.11em;

        &::before {
            content: "▼";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -20px;
            color: #5f4c18;
            font-size: 20px;
        }
    }

    .content ul {
        margin: 0 auto;
        word-wrap: break-word;
        max-width: 100%;
        list-style: none;
        padding-left: 0;
    }
}

.store-embed {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.section.updates article {
    margin-bottom: 0.3rem;

    h3,
    p {
        display: inline;
        font-size: 1em;
    }
}

.yokaze-logo {
    display: inline-block;
    width: 250px;
}

.footer {
    margin: 4rem 0 1rem;
    text-align: center;
    font-size: 0.8em;
}

.screenshots {
    list-style: none;
    line-height: 0;
    padding: 0;
    margin: 0 0 -1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        width: 32%;
        margin-bottom: 1rem;

        img {
            width: 100%;
        }

        img:hover {
            filter: brightness(1.3);
            transition: 0.3s;
        }
    }
}

.credits {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.br-show-sp {
    display: none;
}

@media (max-width: 800px) {
    .about {
        padding: 0 2rem;
    }
    .br-hide-mp {
        display: none;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 0.85em;
        background-size: 930px;
    }
    .navigation {
        top: 1.3rem;
        right: 1.3rem;
    }
    .header {
        margin: 0 0 4rem;
        background-size: 464.25px;
    }
    .section h2 {
        font-size: 1.7em;
        padding: 0.8rem 1.3rem 0.9rem;
    }
    .main-image {
        width: 70%;
        margin-top: -2rem;
    }
    .logo {
        margin: 3rem auto 5rem;
        width: 80%;
    }
    .about {
        padding: 0 1.3rem;
    }
    .about .copy {
        margin: 0 0 4rem;
    }
    .section {
        padding: 0 1.3rem;
    }
    .section.trailer .content {
        margin: 0 -1.3rem;
    }
    .screenshots li {
        width: 48%;
    }
    .br-show-sp {
        display: initial;
    }
}
