html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 0.95em;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8em;
    letter-spacing: 0.08em;
    line-break: strict;
    color: #83a1ea;
    padding: 0;
    margin: 0;
    background-color: #edf2fb;
    border-top: 10px solid #83a1ea;
}

a {
    text-decoration: none;
    color: #83d231;
    font-weight: bold;
}

a:hover {
    color: #3a8008;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0px;
    list-style: none;
}

address {
    display: inline;
    font-style: normal;
}

.container {
    max-width: 700px;
    min-height: 100%;
    padding: 3rem 1rem 2rem;
    margin: 0 auto;
}

.header {
    padding: 1rem 0;
    text-align: center;
}

.logo {
    margin: 0;
}

.main-image {
    margin: 0 0 1.5rem;
}

section {
    padding: 1.5rem 0;
}

section.notice p {
    margin: 0;
}

section.notice img {
    box-shadow: 0 0 4px 4px rgb(50 80 150 / 5%);
}

section.links {
    line-height: 2rem;
}

.profile {
    text-align: center;
    border-top: 1px solid #83a1ea;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.profile li {
    padding: 0.5rem 0;
}

.profile-icon {
    max-width: 70px;
    border-radius: 50%;
}

.footer {
    margin: 3rem 0 0;
    text-align: center;
    font-size: 0.8em;
}

@media (max-width: 820px) {
    .container {
        padding: 2.5rem 1rem 2rem;
    }

    section.notice img {
        max-width: calc(100% + 2rem);
        margin: 0 -1rem;
    }
}
