---
import PageLayout from '../layouts/_page.astro';
import GameList from '../components/_game_list.astro';
import { games } from '../data/games';
---

<PageLayout title="Games">
  <h2>Direction</h2>
  <GameList games={games.filter((game) => game.isFeatured && game.isDirection)} />
  <h2>Collaborative</h2>
  <GameList games={games.filter((game) => game.isFeatured && !game.isDirection)} />
  <h2>More</h2>
  <h3>Direction</h3>
  <GameList games={games.filter((game) => !game.isFeatured && game.isDirection)} isSmall={true} />
  <h3>Collaborative</h3>
  <GameList games={games.filter((game) => !game.isFeatured && !game.isDirection)} isSmall={true} />
</PageLayout>
