---
import PageLayout from '../layouts/_page.astro';
---

<PageLayout title="Games">
  <div>
    ## Featured ### Original - Recolit（2024） - わだつみのこだま（2022） ### Collaborative - ステラーコード（2025） - トルービズの秘薬師（2025） -
    イハナシの魔女（2022） ## More ### Original - かえすコトの葉もなし（2024） - Daily pet simulator（2023） - 春はやってこない（2020） ### Collaborative -
    ねこの惑星（2024） - Electrogical（2024） - さかだちの街（2022） - コーヒーの香り、それから（2023） - 送電塔の上で、また会おう（2020） -
    しょくもつれんさ・どうぶつえん（2020）
  </div>
</PageLayout>
