---
import PageLayout from '../layouts/_page.astro';
---

<PageLayout title="Illustrations">
  <h2>Personal</h2>
  <h2>Commissioned</h2>
  <h2>More</h2>
  <ul>
    <li><a href="https://uimss.tumblr.com/">Personal</a></li>
    <li><a href="https://uimss-works.tumblr.com/">Commissioned</a></li>
  </ul>
</PageLayout>
