---
import Base from '../layouts/_base.astro';
---

<Base>
  <div class="wrapper">
    <header>
      <h1>Image Labo</h1>
      <p>taiyaki shimesaba onsen town</p>
    </header>
    <main>
      あああ
    </main>
  </div>
</Base>