---
import BaseLayout from '../layouts/_base.astro';
import Logo from '../assets/image/logo.svg';
import { navLinks } from '../data/navLinks';
---

<BaseLayout class="layout-index">
  <header>
    <h1><Logo width={300} aria-label="Image Labo" fill="currentColor" /></h1>
    <p>taiyaki shimesaba onsen town</p>
  </header>
  <main>
    <nav>
      <ul>
        {
          navLinks.map(link => (
            <li>
              <a href={link.url}>{link.title}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </main>
</BaseLayout>

<style is:global>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }
</style>
<style lang="scss">
  .layout-index {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  header {
    margin-bottom: 3rem;
  }
  nav {
    font-size: 1.1rem;
    li {
      margin: 0.5rem 0;
    }
    a {
      color: var(--text-color);
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
</style>
