---

---

<style lang="scss">
  .overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.7);

    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .modal {
    max-width: 1000px;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color);
  }
  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
    border: none;
    color: var(--bg-color);
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: var(--radius-circle);
    transition: background 0.2s;
  }

  .close-button:hover {
    background: rgba(0, 0, 0, 0.3);
  }
</style>
<style is:global>
  img.modal-image {
    max-width: min(100vw, 1000px);
    max-height: calc(100vh - 2rem);
    width: auto;
    height: auto;
  }
</style>

<div id="global-modal" class="overlay">
  <button id="close-button" class="close-button" aria-label="Close" onclick="hideModal()">×</button>
  <div class="modal" id="modal-content"></div>
</div>

<script is:inline>
  const overlay = document.getElementById('global-modal');
  const modalContent = document.getElementById('modal-content');

  window.showModal = id => {
    modalContent.innerHTML = document.getElementById(id)?.innerHTML;
    overlay.classList.add('active');
    document.body.style.overflow = 'hidden';
  };

  window.hideModal = () => {
    overlay.classList.remove('active');
    modalContent.innerHTML = '';
    document.body.style.removeProperty('overflow');
  };

  overlay.addEventListener('click', e => {
    if (e.target === overlay) hideModal();
  });
</script>
