---
import BaseLayout from '../layouts/_base.astro';
import Logo from '../assets/image/logo.svg';
import { navLinks } from '../data/navLinks';

interface Props {
  title: string;
  isSmall?: boolean;
}

const { title, isSmall = false } = Astro.props;
---

<BaseLayout title={title} class:list={['layout-page', { 'layout-page--small': isSmall }]}>
  <header>
    <a href="/" class="logo"><Logo width={200} aria-label="Image Labo" fill="currentColor" /></a>
    <nav>
      <ul>
        {
          navLinks.map(link => (
            <li>
              <a href={link.url}>{link.title}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </header>
  <main>
    <slot />
  </main>
</BaseLayout>

<style lang="scss">
  .layout-page {
    max-width: 1000px;
    margin: auto;
    padding: 0 1rem;
    text-align: center;

    &--small {
      max-width: 640px;
    }
  }
  header {
    margin: 3rem 0;
    a {
      color: var(--text-color);
      &:hover {
        color: var(--link-hover-color);
      }
    }

    .logo {
      display: inline-block;
      margin-bottom: 1.1em;
    }
  }

  main {
    margin: 3rem 0;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
  }
</style>
