---
import BaseLayout from '../layouts/_base.astro';
import Logo from '../assets/images/logo.svg';
import { navLinks } from '../data/navLinks';

const { title } = Astro.props.frontmatter || Astro.props;
---

<style lang="scss">
  .layout-page {
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }
  header {
    margin: 2rem 0;
    a {
      color: var(--text-color);
      &:hover {
        color: var(--link-hover-color);
      }
    }

    .logo {
      display: inline-block;
      margin-bottom: 1.1em;
    }
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.1em;
  }
</style>

<BaseLayout title={title} class="layout-page">
  <header>
    <a href="/" class="logo"><Logo width={200} aria-label="Image Labo" fill="currentColor" /></a>
    <nav>
      <ul>
        {
          navLinks.map((link) => (
            <li>
              <a href={link.url}>{link.title}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </header>
  <main>
    <slot />
  </main>
</BaseLayout>
